@import "../../Theme.css";

.directions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5%;
  padding: 5px;
  width: 30%;
  border-right: 5px solid var(--darkBlue);
  background-color: var(--lightestBlue);
}

.calculator-container {
  display: flex;
  width: 70%;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
}
