@import "../../Theme.css";

.label {
  font-family: var(--ptSansNarrowBold);
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 10px;
  margin: 15px 18px;
  animation: pulse 5s infinite alternate;
}

.data {
  font-family: var(--ptSansNormal);
  color: var(--darkPurple);
  font-size: 18px;
  font-weight: 600;
  margin: 10px 15px 20px 20px;
}

.directionsText {
  font-family: var(--ptSansNormal);
  font-size: 30px;
  align-self: center;
}

.popup {
  position: absolute;
  top: 100px;
  left: -30px;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
  background-color: var(--darkBlue);
  width: 450px;
  height: 200px;
  text-align: center;
  border-radius: 2%;
  transform: translateY(-600px);
  animation: 1s slideIn ease-in-out forwards 0.5s;
  box-shadow: 0px 0px 5px 5px rgba(114, 62, 197, 0.5),
    5px 5px 5px rgba(129, 120, 129, 0.8), 5px 5px 5px rgba(116, 94, 107, 0.767),
    5px 5px 5px rgba(230, 199, 61, 0.6), -5px 5px 5px rgba(218, 184, 35, 0.6);
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.popup-txt {
  color: var(--white);
  font-family: var(--ptSansNormal);
  font-size: 25px;
  padding: 20px;
  letter-spacing: 0.8px;
}

.close-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  height: 25px;
  width: 60%;
  align-self: center;
  cursor: pointer;
  color: var(--white);
  font-size: 18px;
  background: linear-gradient(var(--darkPurple), #9198e5);
  transition: 1s ease-in-out;
  border-radius: 16px;
}

.close-button:hover {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 480px) {
  .popup {
    width: 300px;
    left: 20px;
  }
  .popup-txt {
    font-size: 1.5rem;
  }
  .label {
    font-size: 1rem;
    margin: 5px 8px;
    padding: 5px;
  }
  .data {
    font-size: 0.9rem;
    margin: 5px 15px 10px 15px;
  }
}
